.CodeMirror {
    border: 1px solid var(--border-input);
    height: auto !important;
}

.codeeditor .cm-editor {
    border: 1px solid var(--border-input);
    border-radius: 4px;
    max-height: 60vh;
    overflow: auto;
}

.codeeditor .cm-editor .cm-scroller {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 13px;
    line-height: 1.5;
}
