.contentview {
    .header {
        font-weight: bold;
    }
    .highlight {
        font-weight: bold;
    }
    .offset {
        color: var(--syntax-offset);
    }
    .text {
    }
    .codeeditor {
        margin-bottom: 12px;
    }
    .Token_Name_Tag {
        color: var(--syntax-tag);
    }
    .Token_Literal_String {
        color: var(--syntax-string);
    }
    .Token_Literal_Number {
        color: var(--syntax-number);
    }
    .Token_Keyword_Constant {
        color: var(--syntax-keyword);
    }
}
